.vague_bg1
{
    background: url(../ressources/vague1.png) repeat-x 0;
    width: 3500px;
    height: 200px;
    position: fixed;
    top: 30%;
	z-index: 0;
}

.vague_bg2
{
    background: url(../ressources/vague2.png) repeat-x 0;
    width: 3500px;
    height: 200px;
    position: fixed;
    top: 30%;
	z-index: 0;
}
