.load {
	width: 750px;
}

.game {
	background-color: #e0e1e2;
	width: 220px;
	margin: 10px 13px 5px 13px;
	text-align: center;
	float: left;
	clear: none;
}

.game:hover {
	background-color: white;
	cursor: pointer;
}