<ul class="square">
    <li>"DRAW" allows the user to add nodes and edges in the canvas with a simple click.</li>
	<li>"EDIT" allows the user to edit nodes or edges with a simple click on the element. You can edit control points of Bezier Curves, change there colors and move nodes (merging nodes is possible).</li>
    <li>"ERASER" allows the user to delete a node or an edge by a simple click.</li>
	<li>"DELETE" reset the canvas".</li>
	<li>"ERASE" allows to erase nodes or edges with a simple click".</li>
	<li>"SAVE/LOAD" allows the user to save or load a game.</li>
</ul>
