<div class='modeChooser'>
	<div class='mode notInIa' id='humanVsHuman'>Human VS Human</div>
	<div class='mode redBlueGraph' id='humanVsIa'>Human Vs IA</div>
	<div class='mode redBlueGraph' id='iaVsIa'>IA VS IA</div>
	<div class='mode redBlueGraph' id='IaVsHuman'>IA VS Human</div>
</div>
<script type='text/javascript'>
	(function() {
		if (hackenbush.controller.isRedBlueGraph(hackenbush.views.drawingArea.graphUi)) {
			hackenbush.views.page.modElemIa("mode", false);
			var mode = $('.modeChooser');
			mode.delegate('div', 'click', function(ev) {
				hackenbush.controller.loadMode(ev.currentTarget.id);
				$('#mode-modal').dialog("close");
			});
		} else {
			hackenbush.views.page.modElemIa("mode", true);
			$('.notInIa').click( function(ev) {
				hackenbush.controller.loadMode(ev.currentTarget.id);
				$('#mode-modal').dialog("close");
			});
		}
	})();
</script>
